body{
	font-family: Garamond, Times-New-Roman, Serif;
	background-image: url("snow.jpeg");
	background-repeat: repeat;
}
h1 {
	color: navy;
	font-size: 24px;
}
p {
	color: black;
	font-size: 13px;
	line-height: 150%;
	display: inline;
}
.firstWord {
	font-family: sans-serif;
	font-size: 17px;
	color: blue;
}